body {
    overflow-x: hidden;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif

}

p {
    line-height: 1.60
}

a {
    color: #96bf48
}

    a:hover {
        color: #fec503
    }

.text-primary {
    color: #96bf48 !important
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
}

section {
    padding: 100px 0
}

    section h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px
    }

    section h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
        font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
    }

@media (min-width:768px) {
    section {
        padding: 50px 0
    }
}

.form-control-balance {
    
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px
}

.btn-primary {
    background-color: #96bf48;
    border-color: #96bf48
}

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        background-color: #fec810 !important;
        border-color: #fec810 !important;
        color: #fff
    }

    .btn-primary:active, .btn-primary:focus {
        box-shadow: 0 0 0 .2rem rgba(254,209,55,.5) !important
    }

::-moz-selection {
    background: #96bf48;
    text-shadow: none
}

::selection {
    background: #96bf48;
    text-shadow: none
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

#mainNav {
    background-color: #212529
}

    #mainNav .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #96bf48;
        font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif
    }

    #mainNav .navbar-brand {
        color: #96bf48;
        font-family: 'Jura','Helvetica Neue',Helvetica,Arial,cursive
    }

        #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #fec503
        }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: .75em 0;
        letter-spacing: 1px;
        color: #cccdce;
        font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif
    }

        #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #96bf48
        }

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s,padding-bottom .3s;
        -moz-transition: padding-top .3s,padding-bottom .3s;
        transition: padding-top .3s,padding-bottom .3s;
        border: none;
        background-color: transparent
    }

        #mainNav .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #212529
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0
            }
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }

@media (min-width:768px) {
    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead .intro-text .intro-heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 50px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }
}




header.masthead2 {
    text-align: center;
    color: #fff;
    background-image: url(../img/bg2.JPG);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

    header.masthead2 .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead2 .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead2 .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }

@media (min-width:768px) {
    header.masthead2 .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

        header.masthead2 .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead2 .intro-text .intro-heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 50px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }
}



header.masthead3 {
    text-align: center;
    color: #fff;
    background-image: url(../img/bg1.JPG);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

    header.masthead3 .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead3 .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead3 .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }

@media (min-width:768px) {
    header.masthead3 .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

        header.masthead3 .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead3 .intro-text .intro-heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 50px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }
}




header.masthead4 {
    text-align: center;
    color: #fff;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

    header.masthead4 .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead4 .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead4 .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }

@media (min-width:768px) {
    header.masthead4 .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

        header.masthead4 .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
        }

        header.masthead4 .intro-text .intro-heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 50px;
            font-family: 'Jura','Helvetica Neue',Helvetica,Arial,sans-serif
        }
}


.service-heading {
    margin: 15px 0;
    text-transform: none
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px
}

    #portfolio .portfolio-item .portfolio-link {
        position: relative;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer
    }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;
            opacity: 0;
            background: rgba(254,209,54,.9)
        }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
                opacity: 1
            }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
                font-size: 20px;
                position: absolute;
                top: 50%;
                width: 100%;
                height: 20px;
                margin-top: -12px;
                text-align: center;
                color: #fff
            }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
                    margin-top: -12px
                }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
                    margin: 0
                }

    #portfolio .portfolio-item .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        background-color: #fff
    }

        #portfolio .portfolio-item .portfolio-caption h4 {
            margin: 0;
            text-transform: none
        }

        #portfolio .portfolio-item .portfolio-caption p {
            font-size: 16px;
            font-style: italic;
            margin: 0;
            font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif
        }

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

/*.portfolio-modal {
    padding-right: 0 !important
}

    .portfolio-modal .modal-dialog {
        margin: 1rem;
        max-width: 100vw
    }

    .portfolio-modal .modal-content {
        padding: 100px 0;
        text-align: center
    }

        .portfolio-modal .modal-content h2 {
            font-size: 3em;
            margin-bottom: 15px
        }

        .portfolio-modal .modal-content p {
            margin-bottom: 30px
        }

            .portfolio-modal .modal-content p.item-intro {
                font-size: 16px;
                font-style: italic;
                margin: 20px 0 30px;
                font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
            }

        .portfolio-modal .modal-content ul.list-inline {
            margin-top: 0;
            margin-bottom: 30px
        }

        .portfolio-modal .modal-content img {
            margin-bottom: 30px
        }

        .portfolio-modal .modal-content button {
            cursor: pointer
        }

    .portfolio-modal .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent
    }

        .portfolio-modal .close-modal:hover {
            opacity: .3
        }

        .portfolio-modal .close-modal .lr {
            z-index: 1051;
            width: 1px;
            height: 75px;
            margin-left: 35px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #212529
        }

            .portfolio-modal .close-modal .lr .rl {
                z-index: 1052;
                width: 1px;
                height: 75px;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: #212529
            }*/

.timeline {
    position: relative;
    padding: 0;
    list-style: none
}

    .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        content: '';
        background-color: #e9ecef
    }

    .timeline > li {
        position: relative;
        min-height: 50px;
        margin-bottom: 50px
    }

        .timeline > li:after, .timeline > li:before {
            display: table;
            content: ' '
        }

        .timeline > li:after {
            clear: both
        }

        .timeline > li .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 0 20px 0 100px;
            text-align: left
        }

            .timeline > li .timeline-panel:before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0
            }

            .timeline > li .timeline-panel:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0
            }

        .timeline > li .timeline-image {
            position: absolute;
            z-index: 100;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            text-align: center;
            color: #fff;
            border: 7px solid #e9ecef;
            border-radius: 100%;
            background-color: #96bf48
        }

            .timeline > li .timeline-image h4 {
                font-size: 10px;
                line-height: 14px;
                margin-top: 12px
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            padding: 0 20px 0 100px;
            text-align: left
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0
            }

        .timeline > li:last-child {
            margin-bottom: 0
        }

    .timeline .timeline-heading h4 {
        margin-top: 0;
        color: inherit
    }

        .timeline .timeline-heading h4.subheading {
            text-transform: none
        }

    .timeline .timeline-body > p, .timeline .timeline-body > ul {
        font-size: 13px !important;
        margin-bottom: 0;
    }

@media (min-width:768px) {
    .timeline:before {
        left: 50%
    }

    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px
    }

        .timeline > li .timeline-panel {
            float: left;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: right
        }

        .timeline > li .timeline-image {
            left: 50%;
            width: 100px;
            height: 100px;
            margin-left: -50px
        }

            .timeline > li .timeline-image h4 {
                font-size: 13px;
                line-height: 18px;
                margin-top: 16px
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            padding: 0 30px 20px 20px;
            text-align: left
        }
}

@media (min-width:992px) {
    .timeline > li {
        min-height: 150px
    }

        .timeline > li .timeline-panel {
            padding: 0 20px 20px
        }

        .timeline > li .timeline-image {
            width: 150px;
            height: 150px;
            margin-left: -75px
        }

            .timeline > li .timeline-image h4 {
                font-size: 18px;
                line-height: 26px;
                margin-top: 30px
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 20px 20px
        }
}

@media (min-width:1200px) {
    .timeline > li {
        min-height: 170px
    }

        .timeline > li .timeline-panel {
            padding: 0 20px 20px 100px
        }

        .timeline > li .timeline-image {
            width: 170px;
            height: 170px;
            margin-left: -85px
        }

            .timeline > li .timeline-image h4 {
                margin-top: 40px
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 100px 20px 20px
        }
}

.team-member {
    margin-bottom: 50px;
    text-align: center
}

    .team-member img {
        width: 225px;
        height: 225px;
        border: 7px solid #fff
    }

    .team-member h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none
    }

    .team-member p {
        margin-top: 0
    }



.team-member-shopify {
    margin-bottom: 25px;
}

    .team-member-shopify img {
        width: 125px;
        height: 125px;
        border: 7px solid #fff
    }

    .team-member-shopify h4 {
        margin-top: 15px;
        margin-bottom: 0;
        text-transform: none
    }

    .team-member-shopify p {
        margin-top: 0
    }


section#contact {
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center
}

    section#contact .section-heading {
        color: #fff
    }

    section#contact .form-group {
        margin-bottom: 25px
    }

        section#contact .form-group input, section#contact .form-group textarea {
            padding: 20px
        }

            section#contact .form-group input.form-control {
                height: auto
            }

            section#contact .form-group textarea.form-control {
                height: 248px
            }

    section#contact .form-control:focus {
        border-color: #96bf48;
        box-shadow: none
    }

    section#contact ::-webkit-input-placeholder {
        font-weight: 700;
        color: #ced4da;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

    section#contact :-moz-placeholder {
        font-weight: 700;
        color: #ced4da;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

    section#contact ::-moz-placeholder {
        font-weight: 700;
        color: #ced4da;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

    section#contact :-ms-input-placeholder {
        font-weight: 700;
        color: #ced4da;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

footer {
    padding: 25px 0;
    text-align: center
}

    footer span.copyright {
        font-size: 90%;
        line-height: 40px;
        text-transform: none;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

    footer ul.quicklinks {
        font-size: 90%;
        line-height: 40px;
        margin-bottom: 0;
        text-transform: none;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
    }

ul.social-buttons {
    margin-bottom: 0
}

    ul.social-buttons li a {
        font-size: 20px;
        line-height: 40px;
        display: block;
        width: 40px;
        height: 40px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        color: #fff;
        border-radius: 100%;
        outline: 0;
        background-color: #212529
    }

        ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
            background-color: #96bf48 !important;
        }

.fa-facebook-f {
    background: #3B5998 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-twitter {
    background: #55ACEE !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-google {
    background: #dd4b39 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-github {
    background: #4078C0 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-linkedin {
    background: #007bb5 !important;
    color: white !important;
    text-decoration: none !important;
}
.fa-file-pdf {
    background: #ff0000 !important;
    color: white !important;
    text-decoration: none !important;
}
.fa-file-word {
    background: #000080 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-youtube {
    background: #bb0000 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-instagram {
    background: #125688 !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-skype {
    background: #00aff0 !important;
    color: white !important;
    text-decoration: none !important;
}

/* Important part */
.modal-dialog {
    overflow-y: initial !important;
}

.modal-header {
    background-color: #3B5998;
    color: #fff;
}

.modal-body {
    min-height: 300px;
    overflow-y: auto;
    max-height: 449px !important;
}



.invisible {
    visibility: hidden !important
}


.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}



.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}


.travel-modal {
    /* The image used */
    background-image: url("/img/travelbg.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .item img {
    max-height: 350px !important;
    min-width: auto !important; 
}

.shopify-green {
    color: #96bf48;
}

.xero-blue {
    color: #3B5998;
}

.xero-light-blue-bg {
    background-color: #eaf0f9;
}

@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

        .nav-justified > li > a {
            border-bottom: 1px solid #ddd !important;
            border-radius: 4px 4px 0 0 !important;
            margin-bottom: 0 !important;
        }
}

@media (max-width:767px) {
    .panel-skills {
        min-height: 135px !important;
    }
}
@media (min-width:768px) {
    .panel-skills {
        min-height: 235px !important;
    }
}


@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}

.bg-balance {
    background-color: #e9f2d9;
}

.panel{
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid transparent;border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05)
    }
.panel-body{
    padding: 0px 5px 0px 5px;
    font-size: 14px;
}
.panel-body>.form-control {
    font-size: 10px;
}

.panel-heading{
    padding:5px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}
.panel-heading>.dropdown .dropdown-toggle{color:inherit}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}
.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{color:inherit}
.panel-footer{
    padding: 0px 5px 0px 5px;
    background-color:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px}  
.panel>.list-group,.panel>.panel-collapse>.list-group{margin-bottom:0}.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item{border-width:1px 0;border-radius:0}.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}.list-group+.panel-footer{border-top-width:0}.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table{margin-bottom:0}.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption{padding-right:15px;padding-left:15px}.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{border-top-left-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{border-top-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px}.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{border-top:1px solid #ddd}.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th{border-top:0}.panel>.table-bordered,.panel>.table-responsive>.table-bordered{border:0}.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{border-bottom:0}.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}.panel>.table-responsive{margin-bottom:0;border:0}.panel-group{margin-bottom:20px}.panel-group .panel{margin-bottom:0;border-radius:4px}.panel-group .panel+.panel{margin-top:5px}.panel-group .panel-heading{border-bottom:0}.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:1px solid #ddd}.panel-group .panel-footer{border-top:0}.panel-group .panel-footer+.panel-collapse .panel-body{border-bottom:1px solid #ddd}.panel-default{border-color:#ddd}.panel-default>.panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ddd}.panel-default>.panel-heading .badge{color:#f5f5f5;background-color:#333}.panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}.panel-primary{border-color:#337ab7}.panel-primary>.panel-heading{color:#fff;background-color:#337ab7;border-color:#337ab7}.panel-primary>.panel-heading+.panel-collapse>.panel-body{border-top-color:#337ab7}.panel-primary>.panel-heading .badge{color:#337ab7;background-color:#fff}.panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#337ab7}.panel-success{border-color:#d6e9c6}.panel-success>.panel-heading{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.panel-success>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}.panel-success>.panel-heading .badge{color:#dff0d8;background-color:#3c763d}.panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}.panel-info>.panel-heading{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}.panel-info>.panel-heading .badge{color:#d9edf7;background-color:#31708f}.panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}.panel-warning{border-color:#faebcc}.panel-warning>.panel-heading{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}.panel-warning>.panel-heading .badge{color:#fcf8e3;background-color:#8a6d3b}.panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}.panel-danger{border-color:#ebccd1}.panel-danger>.panel-heading{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}

.button-reset {

    margin-bottom: 10px !important;
    margin-top: 10px !important;
}




